Python Dictionary and Set Exercises
Dictionary Exercises
1. Sort a Dictionary by Value
Write a Python script to sort (ascending and descending) a dictionary by value.

2. Add a Key to a Dictionary
Write a Python script to add a key to a dictionary.

Sample Dictionary:

{0: 10, 1: 20}
Expected Result:

{0: 10, 1: 20, 2: 30}
3. Concatenate Multiple Dictionaries
Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionaries:

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
Expected Result:

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
4. Generate a Dictionary with Squares
Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Sample Dictionary (n = 5):

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
5. Dictionary of Squares (1 to 15)
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

Expected Output:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
Set Exercises
1. Create a Set
Write a Python program to create a set.

2. Iterate Over a Set
Write a Python program to iterate over sets.

3. Add Member(s) to a Set
Write a Python program to add member(s) to a set.

4. Remove Item(s) from a Set
Write a Python program to remove item(s) from a given set.

5. Remove an Item if Present in the Set
Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
#1
from operator import itemgetter
my_dict = {'a': 10, 'b': 5, 'c': 15, 'd': 2}
sorted_asc = sorted(my_dict.items(), key=itemgetter(1))
print("Ascending:", sorted_asc)
sorted_desc = sorted(my_dict.items(), key=itemgetter(1), reverse=True)
print("Descending:", sorted_desc)

Ascending: [('d', 2), ('b', 5), ('a', 10), ('c', 15)]
Descending: [('c', 15), ('a', 10), ('b', 5), ('d', 2)]

In [16]:
#2
diction={0:10, 1:20}
diction[2]=30
diction

{0: 10, 1: 20, 2: 30}

In [ ]:
#3
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic1.update(dic2)
dic1.update(dic3)
dic1
#merged_dic=dic1|dic2|dic3
#merged_dic

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#4
numbers=int(input('till which number you want to see squares: '))
mydic={}
for i in range (1, numbers+1):
    mydic[i]=i**2
print(mydic)

{1: 1, 2: 4, 3: 9, 4: 16}

In [38]:
#5
dic={}
for i in range(1,16):
    dic[i]=i**2
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [39]:
#6
my_set=set()
type(my_set)

set

In [46]:
#7
my_set={1,2,3,4,7,8,9}
for i in my_set:
    print(i**2)

1
4
9
16
49
64
81

In [50]:
#8
my_set.add(96)
my_set

{1, 12, '12', 2, 3, 4, 7, 8, 88, 9, 96}

In [ ]:
#9
my_set.pop()
my_set

{12, '12', 2, 3, 4, 7, 8, 88, 9, 96}

In [ ]:
#9
my_set.remove(2)
my_set

In [3]:
#10
my_set={1,2,3,4,7,8,9}
a=input()
if a in my_set:
    my_set.remove(a)
    print(my_set)
else:
    print('there is no such object')

there is no such object

None