1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

3. Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

4. Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple.

5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

6. Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

15. Reverse a Tuple
Create a tuple of words and print it in reverse order

In [ ]:
#1
fruits=['apple', 'banana', 'pear', 'grapes', 'peach']
print(f'third fruit is: {fruits[2]}')

third fruit is: pear

In [ ]:
#2
numbers1=[1,3,5,7,9]
numbers2=[2,4,6,8,9]
numbers1.extend(numbers2)
print(f'concatinated list: {numbers1}')

concatinated list: [1, 3, 5, 7, 9, 2, 4, 6, 8, 9]

In [67]:
#3
mylist=['one','two', 3, 'four', 5, 6, 'seven', 'eight', 9]
a=len(mylist)
newlist=[mylist[0], mylist[a//2] , mylist[-1]]
newlist

['one', 5, 9]

In [ ]:
#4
list=['avatar','thor', 'death note', 'your name']
#list=tuple(list)
print(f'converted to tuple: {tuple(list)}')

converted to tuple: ('avatar', 'thor', 'death note', 'your name')

tuple

In [39]:
#5
list=['tashkent', 'bekobod', 'olmaliq', 'moscow', 'istanbul', 'paris']
if 'paris' in list:
    print('theres paris')
else:
    print('no paris')

theres paris

In [ ]:
#6 
list=['one','two', 3, 'four', 5, 6, 'seven', 'eight', 9]
copiedlist=list.copy()
copiedlist

['one', 'two', 3, 'four', 5, 6, 'seven', 'eight', 9]

In [ ]:
#7
list=['one','two', 3, 'four', 5, 6, 'seven', 'eight', 9]
list[0],list[-1] =list[-1], list[0]
print(list)

[9, 'two', 3, 'four', 5, 6, 'seven', 'eight', 'one']

In [72]:
#8
tuple=0,1,2,3,4,5,6,7,8,9
tuple[3:7]

(3, 4, 5, 6)

In [74]:
#9
list=['white', 'blue', 'orange', 'blue', 'blue', 'blue', 'red', 'red'].count('blue')
list

4

In [76]:
#10
tuple='monkey','snake', 'lion', 'wolf', 'bear', 'eagle', 'owl'
tuple.index('lion')

2

In [79]:
#11
tuple1=1,3,5,7,9
tuple2=2,4,6,8,9
#tuple1.__add__(tuple2)
tuple3=tuple1+tuple2
tuple3

(1, 3, 5, 7, 9, 2, 4, 6, 8, 9)

In [82]:
#12
list=['white', 'blue', 'orange', 'blue', 'blue', 'blue', 'red', 'red']
a=len(list)
tuple='monkey','snake', 'lion', 'wolf', 'bear', 'eagle', 'owl'
b=len(tuple)
print(f'list length: {a}, tuple length: {b}')

list length: 8, tuple length: 7

In [85]:
#13
tuple=1,2,3,4,5
a=list(tuple)
a

TypeError: 'list' object is not callable

In [2]:
#14
tuple=4,3,78,9
print(f'maximum is: {max(tuple)} \nminimum is: {min(tuple)}')

maximum is: 78
minimum is: 3

In [3]:
#15
tuple=1,'two', 'three', 4, 5, 6, 'seven'
print(tuple[::-1])

('seven', 6, 5, 4, 'three', 'two', 1)